<main class="main">
  <div class="footer">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/NASA_logo.svg/2449px-NASA_logo.svg.png"
      alt=""
      style="width: 75px; height: 60px"
    />

    <span>Welcome to NASA gallery</span>
  </div>

  <section class="content1">
    <h1>What Did NASA see today or on your birthday?</h1>

    <div class="buttonHome">
      <button type="button" (click)="apodToday()">TODAY</button>

      <button>BIRTHDAY</button>
    </div>
  </section>
</main>
