body {
  margin: 0; /* Elimina márgenes predeterminados */
  padding: 0; /* Elimina cualquier padding por defecto */
}

* {
  box-sizing: border-box; /* Asegura que padding no cambie el tamaño de elementos */
}
